

<div class="footer-info-left">
<%= link_to "About", posts_path %>
<%= link_to "Contact", '#' %>
<%= link_to "SiteMap", '#'%>
</div>
<div class="footer-info-right">
  <a href="/">My personal website</a>, 2011. All rights reserved.
</div>

