	<div class="column-left">
		<h3>MENU</h3>
		<a href="#skip-menu" class="hidden">Skip menu</a>
		<ul class="menu">

            <%= render 'layouts/header' %>

            <li><a href="#">About me</a></li>

			<li><a href="#">Portfolio</a></li>

			<li class="last"><a href="#">Contact</a></li>

		</ul>
		</div>